@charset "UTF-8";
/* paleta de color */
/* colores de texto */
/* tipografías */
.body__contacto {
  background-color: rgba(242, 187, 22, 0.8823529412);
}

.section__hero .title {
  margin: 0.5rem 0;
  font-family: "Zilla Slab", serif;
  color: #ffffff;
}
.section__hero .subtitle {
  font-family: "Zilla Slab", serif;
  color: #ffffff;
}
.section__hero .description {
  font-weight: 500;
  color: #ffffff;
}

.section__form {
  padding: 3rem 0;
  color: #0e0d07;
  font-size: 20px;
}
.section__form label {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
.section__form input {
  border-radius: 10px;
  border: 2px solid #0e0d07;
}
.section__form textarea {
  border-radius: 10px;
  border: 2px solid #0e0d07;
}
.section__form .button-enviar {
  color: rgba(242, 187, 22, 0.8823529412);
  font-size: 22px;
  font-weight: 500;
  padding: 1rem;
  background-color: #ffffff;
}

.section__info {
  background-color: #ffffff;
  padding: 3rem 0;
  text-align: center;
}
.section__info .info-iconos svg {
  width: 50px;
  height: 70px;
  color: rgba(242, 187, 22, 0.8823529412);
}
.section__info .info-title, .section__info .info-redes .redes-link {
  color: #0e0d07;
  font-size: 22px;
}
.section__info .info-description {
  color: #0e0d07;
  font-size: 15px;
  margin: 5px 0;
}
.section__info .info-redes {
  list-style: none;
}
.section__info .info-redes .redes-link {
  text-decoration: none;
  font-size: 20px;
}
.section__info .info-redes .redes-link .fa-brands {
  font-size: 20px;
  color: rgba(242, 187, 22, 0.8823529412);
}

.section__map {
  padding: 2rem 0;
}

.body__exploraellodge {
  background-color: rgba(242, 187, 22, 0.8823529412);
}

.articles {
  padding: 2rem;
  margin: 2.5rem;
  text-align: center;
  background-color: #ffffff;
}
.articles .title {
  color: #0e0d07;
  font-size: 20px;
  margin-bottom: -2rem;
}
.articles .divisor svg {
  width: 70px;
  height: 100px;
  color: rgba(242, 187, 22, 0.8823529412);
}
.articles .description {
  color: #0e0d07;
  font-size: 15px;
  margin-top: -1rem;
}

@media (min-width: 768px) {
  #carouselhabitacion {
    padding-top: 4rem;
  }
  #carouselespacios {
    padding-top: 4rem;
  }
  #carouselgastronomia {
    padding-top: 4rem;
  }
}
@media (min-width: 1020px) {
  .articles {
    text-align: center;
    color: rgba(242, 187, 22, 0.8823529412);
    font-weight: bolder;
    padding: 4rem;
  }
  .articles .title {
    font-size: 32px;
    margin-bottom: -2rem;
  }
  .articles .divisor svg {
    width: 70px;
    height: 100px;
  }
  .articles .description {
    font-size: 18px;
    margin-top: -1rem;
  }
}
.body__nosotros {
  background-color: rgba(242, 187, 22, 0.8823529412);
}

.section__hero {
  text-align: center;
  color: rgba(242, 187, 22, 0.8823529412);
  font-weight: bolder;
  padding: 3rem;
}
.section__hero .description {
  font-size: 22px;
  font-weight: lighter;
}

.section__1, .section__2 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url(../imagenes/NOSOTROS-CASAVIEJA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 8rem 0;
  text-align: center;
  font-weight: 900;
  margin: 2rem 0;
}
.section__1 .section-title, .section__2 .section-title {
  font-size: 38px;
  font-weight: bold;
  text-align: right;
}

.section__2 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url(../imagenes/NOSOTROS-ESQUINA.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section__2 .section-title {
  font-size: 38px;
  font-weight: bold;
  text-align: left;
}

.body__servicios {
  background-color: rgba(242, 187, 22, 0.8823529412);
}

.section__cards {
  padding: 2rem;
  text-align: center;
}
.section__cards .card {
  margin: auto;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.section__cards .card .card-body {
  color: #0e0d07;
}
.section__cards .card .card-body .card-title {
  font-size: 30px;
}
.section__cards .card .card-body .card-text {
  text-align: center;
  color: rgba(242, 187, 22, 0.8823529412);
  font-weight: bolder;
  color: #0e0d07;
}
.section__cards .card .card-body .button {
  color: #ffffff;
  font-weight: 500;
  background-color: rgba(242, 187, 22, 0.8823529412);
}

.section__cards .card {
  transition: 0.8s;
}
.section__cards .card:hover {
  scale: 1.2;
}

.button {
  position: relative;
  overflow: hidden;
}
.button::before {
  content: "¡RESERVA TU FECHA!";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: rgba(242, 187, 22, 0.8823529412);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  opacity: 0;
  transition: all 0.5s;
}
.button:hover:before {
  transform: scale(1);
  opacity: 1;
}

.hero {
  margin: 5rem 0;
  padding: 2rem 0;
}
.hero .hero__content {
  position: static;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
  margin: 0 5rem;
}
.hero .hero-title {
  font-family: "Zilla Slab", serif;
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 0.5rem;
}
.hero .hero-subtitle {
  font-size: 20px;
  color: #ffffff;
}
.hero .hero-description {
  text-align: center;
  color: rgba(242, 187, 22, 0.8823529412);
  font-weight: bolder;
  font-size: 12px;
}

.video {
  position: fixed;
  transform: translate(-50%);
  top: 20%;
  left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.index__section1 {
  background-color: #ffffff;
  position: relative;
  padding: 1rem 0;
  margin-top: 5rem;
  margin: 0 1rem;
}
.index__section1 .section1-title {
  text-align: center;
  color: rgba(242, 187, 22, 0.8823529412);
  font-weight: bolder;
  font-size: 20px;
}
.index__section1 .section1-description {
  text-align: center;
  color: rgba(242, 187, 22, 0.8823529412);
  font-weight: bolder;
  font-size: 10px;
}

.index__section2 {
  background-color: rgba(242, 187, 22, 0.8823529412);
  position: relative;
  padding-top: 2rem;
}
.index__section2 .section-title {
  text-align: center;
  color: rgba(242, 187, 22, 0.8823529412);
  font-weight: bolder;
  font-size: 20px;
  color: #ffffff;
}
.index__section2 .section-description {
  text-align: center;
  color: rgba(242, 187, 22, 0.8823529412);
  font-weight: bolder;
  font-size: 12px;
  color: #ffffff;
}
.index__section2 .section-img {
  margin: auto;
  display: block;
  width: 200px;
  height: 150px;
  padding-bottom: 1.5rem;
}

.section__galery {
  background-color: rgba(242, 187, 22, 0.8823529412);
}
.section__galery .galery-title {
  text-align: center;
  color: rgba(242, 187, 22, 0.8823529412);
  font-weight: bolder;
  font-size: 20px;
  color: #ffffff;
}
.section__galery .galery-description {
  text-align: center;
  color: rgba(242, 187, 22, 0.8823529412);
  font-weight: bolder;
  font-size: 12px;
  color: #ffffff;
}
.section__galery .carousel {
  margin: 2rem 1rem;
  max-width: 800px;
}

@media (min-width: 768px) {
  .hero {
    margin: 5rem 0;
    padding: 5rem 0;
  }
  .hero .hero-title {
    font-size: 42px;
  }
  .hero .hero-subtitle {
    font-size: 25px;
  }
  .hero .hero-description {
    font-size: 18px;
  }
  .index__section1 {
    padding: 3rem;
    margin: 0 3rem;
  }
  .index__section1 .section1-title {
    font-size: 20px;
  }
  .index__section1 .section1-description {
    font-size: 25px;
  }
  .index__section2 .section-content {
    text-align: right;
  }
  .index__section2 .section-title {
    font-size: 20px;
  }
  .index__section2 .section-description {
    font-size: 15px;
  }
  .index__section2 .section-img {
    width: 400px;
    height: 300px;
    padding-bottom: 1.5rem;
  }
  .section__galery .galery-content {
    text-align: left;
    padding-bottom: 1.5rem;
  }
  .section__galery .galery-title {
    font-size: 20px;
  }
  .section__galery .galery-description {
    font-size: 15px;
  }
  .section__galery .carousel {
    margin: 2rem 1rem;
    max-width: 800px;
    width: 400px;
    height: 300px;
  }
  .section__galery .carousel-item {
    width: 400px;
    height: 300px;
  }
}
@media (min-width: 1020px) {
  .nav__item .nav__link {
    font-size: 17px;
  }
  .hero {
    margin: 3rem 0;
    padding: 3rem 0;
  }
  .hero .hero-title {
    font-size: 80px;
  }
  .hero .hero-subtitle {
    font-size: 40px;
  }
  .hero .hero-description {
    font-size: 30px;
  }
  .index__section1 {
    padding: 4rem;
    margin: 0 4rem;
  }
  .index__section1 .section1-title {
    font-size: 20px;
  }
  .index__section1 .section1-description {
    font-size: 25px;
  }
  .index__section2 .section-content {
    padding-top: 5rem;
  }
  .index__section2 .section-title {
    font-size: 30px;
  }
  .index__section2 .section-description {
    font-size: 20px;
  }
  .index__section2 .section-img {
    width: 600px;
    height: 400px;
    padding-bottom: 1.5rem;
  }
  .section__galery .galery-content {
    padding-top: 5rem;
  }
  .section__galery .galery-title {
    font-size: 30px;
  }
  .section__galery .galery-description {
    font-size: 20px;
  }
  .section__galery .carousel {
    margin: 2rem 1rem;
    max-width: 800px;
    width: 700px;
    height: 400px;
  }
  .section__galery .carousel-item {
    width: 800px;
    height: 400px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #ffffff;
  display: block;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-brand {
  display: block;
  margin: auto;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  list-style: none;
  display: inline-block;
  margin: 0.5rem 10px;
  position: relative;
}
.nav__item::before {
  content: "";
  height: 3px;
  width: 0%;
  background: rgba(242, 187, 22, 0.8823529412);
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}
.nav__item:hover::before {
  width: 100%;
}
.nav__item .nav__link {
  text-decoration: none;
  text-align: center;
  color: rgba(242, 187, 22, 0.8823529412);
  font-weight: bolder;
  color: #0e0d07;
  font-size: 14px;
  font-weight: bold;
}

.footer {
  background-color: #ffffff;
  text-align: center;
  color: rgba(242, 187, 22, 0.8823529412);
  font-weight: bolder;
  color: #0e0d07;
  list-style-type: none;
  padding-top: 2rem;
}
.footer .footer__newsletter, .footer .footer__about, .footer .footer__social {
  font-size: 20px;
  font-weight: bold;
}
.footer .input-email {
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 3px solid rgba(242, 187, 22, 0.8823529412);
  color: #0e0d07;
  outline: none;
}
.footer .input-email::placeholder {
  color: #0e0d07;
}
.footer .btn-suscribe {
  font-size: 20px;
  padding: 0 10px;
  color: #ffffff;
  border: 0;
  border-radius: 10px;
  background-color: rgba(242, 187, 22, 0.8823529412);
}
.footer .social-item {
  list-style-type: none;
}
.footer .social-item .social-link {
  font-family: "Zilla Slab", serif;
  color: #0e0d07;
  text-decoration: none;
  font-size: 20px;
}
.footer .social-item .social-link .fa-brands {
  font-size: 20px;
  margin: 5px;
  color: rgba(242, 187, 22, 0.8823529412);
}
.footer .about-item {
  font-family: "Zilla Slab", serif;
  list-style-type: none;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
