@charset "UTF-8";
/* paleta de color */
/* colores de texto */
/* tipografías */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__hero {
  text-align: center;
  background-color: #6c733d;
  color: #0e0d07;
  padding: 3rem;
}
.section__hero .title {
  margin: 0.5rem 0;
  font-family: "Zilla Slab", serif;
}
.section__hero .subtitle {
  font-family: "Zilla Slab", serif;
}
.section__hero .description {
  font-weight: 500;
}

.section__form {
  padding: 3rem 0;
  color: #0e0d07;
  font-size: 20px;
  background-color: #6c733d;
}
.section__form .button {
  color: #0e0d07;
  font-weight: 500;
  background-color: #6c733d;
}

.section__info {
  padding: 3rem 0;
  text-align: center;
}
.section__info .info-iconos svg {
  width: 50px;
  height: 70px;
  color: #6c733d;
}
.section__info .info-title {
  color: #0e0d07;
  font-size: 22px;
}
.section__info .info-description {
  color: #0e0d07;
  font-size: 15px;
}
.section__info .info-redes {
  list-style: none;
}
.section__info .info-redes .redes-link {
  color: #0e0d07;
  font-size: 15px;
  text-align: center;
}

.section__map {
  background-color: #6c733d;
  padding: 2rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body__exploraellodge {
  background-color: #6c733d;
}

.articles {
  padding: 2rem;
  margin: 2.5rem;
  text-align: center;
  background-color: #ffffff;
}
.articles .title {
  color: #0e0d07;
  font-size: 20px;
  margin-bottom: -2rem;
}
.articles .divisor svg {
  width: 70px;
  height: 100px;
  color: #6c733d;
}
.articles .description {
  color: #0e0d07;
  font-size: 15px;
  margin-top: -1rem;
}
.articles .imagen {
  width: 200px;
  height: 150px;
}

@media (min-width: 768px) {
  .articles .imagen {
    width: 400px;
    height: 300px;
  }
}
@media (min-width: 1020px) {
  .articles {
    padding: 4rem;
    text-align: center;
  }
  .articles .title {
    color: #0e0d07;
    font-size: 32px;
    margin-bottom: -2rem;
  }
  .articles .divisor svg {
    width: 70px;
    height: 100px;
    color: #6c733d;
  }
  .articles .description {
    color: #0e0d07;
    font-size: 20px;
    margin-top: -1rem;
  }
  .articles .imagen {
    width: 600px;
    height: 500px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body__nosotros {
  background-color: #6c733d;
}

.hero p {
  font-size: 22px;
  color: #0e0d07;
}

.section__1 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url(../imagenes/NOSOTROS-CASAVIEJA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: right;
  margin: 0.5rem 0;
  padding: 8rem 0;
}
.section__1 .section-title {
  font-size: 38px;
  font-weight: bold;
}

.section__2 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url(../imagenes/NOSOTROS-PUEBLO.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: left;
  margin: 2rem 0;
  padding: 8rem 0;
}
.section__2 .section-title {
  font-size: 38px;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__cards {
  padding: 4rem 0;
  text-align: center;
}
.section__cards .card {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.section__cards .card .card-body {
  color: #0e0d07;
}
.section__cards .card .card-body .card-title {
  font-size: 30px;
}
.section__cards .card .card-body .card-text {
  font-size: 20px;
}
.section__cards .card .card-body .button {
  color: #ffffff;
  font-weight: 500;
  background-color: #6c733d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #ffffff;
  display: block;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.header .navbar {
  background-color: #ffffff;
}

.navbar-brand {
  display: block;
  margin: auto;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  list-style: none;
  display: inline-block;
  margin: 0.5rem 10px;
  position: relative;
}
.nav__item::before {
  content: "";
  height: 3px;
  width: 0%;
  background: #f2bb16;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}
.nav__item:hover::before {
  width: 100%;
}
.nav__item .nav__link {
  text-align: center;
  text-decoration: none;
  color: #0e0d07;
  font-size: 14px;
  font-weight: bold;
}

.hero {
  margin: 2rem 0;
  padding: 2rem 0;
  color: #0e0d07;
  background-color: #6c733d;
}
.hero .hero__content {
  position: static;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
}
.hero .hero-title {
  font-family: "Zilla Slab", serif;
  color: #0e0d07;
  font-size: 42px;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
}
.hero .hero-subtitle {
  font-size: 25px;
  color: #0e0d07;
}
.hero .hero-description {
  text-align: center;
  font-size: 15px;
  color: #0e0d07;
}

.video {
  position: fixed;
  transform: translate(-50%);
  top: 20%;
  left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.section {
  position: relative;
  padding-top: 2rem;
}
.section .section-content {
  text-align: center;
  color: #0e0d07;
}
.section .section-title {
  font-size: 30px;
  font-weight: bold;
}
.section .section-img {
  margin: auto;
  display: block;
  width: 200px;
  height: 150px;
  padding-bottom: 1.5rem;
}

.section__galery {
  text-align: center;
  color: #0e0d07;
}
.section__galery .galery-title {
  font-size: 32px;
  font-weight: bold;
}
.section__galery .galery-content {
  text-align: center;
  margin-top: 3rem;
  color: #0e0d07;
}
.section__galery .carousel {
  margin: 2rem 1rem;
  max-width: 800px;
}

.footer {
  background-color: #6c733d;
  text-align: center;
  list-style-type: none;
  padding-top: 2rem;
  color: #0e0d07;
}
.footer .footer__newsletter {
  font-family: "Zilla Slab", serif;
  font-size: 18px;
  font-weight: bold;
}
.footer .footer__social {
  font-family: "Zilla Slab", serif;
  font-size: 16px;
  font-weight: bold;
}
.footer .social-item {
  list-style-type: none;
}
.footer .social-item .social-link {
  color: #0e0d07;
  font-size: 12px;
}
.footer .footer__about {
  font-family: "Zilla Slab", serif;
  font-size: 16px;
  font-weight: bold;
}
.footer .about-item {
  list-style-type: none;
}

@media (min-width: 768px) {
  .section .section-content {
    text-align: right;
  }
  .section .section-img {
    width: 400px;
    height: 300px;
    padding-bottom: 1.5rem;
  }
  .section__galery .galery-content {
    text-align: left;
    padding-bottom: 1.5rem;
  }
  .section__galery .carousel {
    margin: 2rem 1rem;
    max-width: 800px;
    width: 400px;
    height: 300px;
  }
  .section__galery .carousel-item {
    width: 400px;
    height: 300px;
  }
}
@media (min-width: 1020px) {
  .nav__item .nav__link {
    font-size: 17px;
  }
  .section .section-img {
    width: 500px;
    height: 300px;
    padding-bottom: 1.5rem;
  }
  .section__galery .carousel {
    margin: 2rem 1rem;
    max-width: 800px;
    width: 700px;
    height: 400px;
  }
  .section__galery .carousel-item {
    width: 800px;
    height: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
