.section__hero {
  .title {
    margin: 0.5rem 0;
    font-family: $tipografia-1;
  }
  .subtitle {
    font-family: $tipografia-1;
  }
  .description {
    font-weight: 500;
  }
}
.section__form {
  padding: 3rem 0;
  color: $color-texto-1;
  font-size: 20px;
  background-color: $paleta-color-3;
  .button {
    color: $color-texto-1;
    font-weight: 500;
    background-color: $paleta-color-4;
  }
}
.section__info {
  padding: 3rem 0;
  text-align: center;
  .info-iconos svg {
    width: 50px;
    height: 70px;
    color: $paleta-color-3;
  }
  .info-title {
    color: $color-texto-1;
    font-size: 22px;
  }
  .info-description {
    color: $color-texto-1;
    font-size: 15px;
  }
  .info-redes {
    list-style: none;
    .redes-link {
      @extend .info-description;
      font-size: 13px;
    }
  }
}
.section__map {
  background-color: $paleta-color-3;
  padding: 2rem 0;
}
