.body__exploraellodge {
  background-color: $paleta-color-2;
}
.articles {
  padding: 2rem;
  margin: 2.5rem;
  text-align: center;
  background-color: $paleta-color-4;
  .title {
    color: $color-texto-1;
    font-size: 20px;
    margin-bottom: -2rem;
  }
  .divisor svg {
    width: 70px;
    height: 100px;
    color: $paleta-color-2;
  }
  .description {
    color: $color-texto-1;
    font-size: 15px;
    margin-top: -1rem;
  }
}
@media (min-width: 768px) {
  #carouselhabitacion {
    padding-top: 4rem;
  }
  #carouselespacios {
    padding-top: 4rem;
  }
  #carouselgastronomia {
    padding-top: 4rem;
  }
}
@media (min-width: 1020px) {
  .articles {
    @include CenterColor;
    padding: 4rem;

    .title {
      font-size: 32px;
      margin-bottom: -2rem;
    }
    .divisor svg {
      width: 70px;
      height: 100px;
    }
    .description {
      font-size: 18px;
      margin-top: -1rem;
    }
  }
}
