.body__exploraellodge {
  background-color: $paleta-color-3;
}
.articles {
  padding: 2rem;
  margin: 2.5rem;
  text-align: center;
  background-color: $paleta-color-4;
  .title {
    color: $color-texto-1;
    font-size: 20px;
    margin-bottom: -2rem;
  }
  .divisor svg {
    width: 70px;
    height: 100px;
    color: $paleta-color-3;
  }
  .description {
    color: $color-texto-1;
    font-size: 15px;
    margin-top: -1rem;
  }
}
@media (min-width: 1020px) {
  .articles {
    padding: 4rem;
    @include center-color;
    .title {
      font-size: 32px;
      margin-bottom: -2rem;
    }
    .divisor svg {
      width: 70px;
      height: 100px;
      color: $paleta-color-3;
    }
    .description {
      font-size: 20px;
      margin-top: -1rem;
    }
  }
}
