* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: $paleta-color-4;
  display: block;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.navbar-brand {
  display: block;
  margin: auto;
}
.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  list-style: none;
  display: inline-block;
  margin: 0.5rem 10px;
  position: relative;

  &::before {
    content: "";
    height: 3px;
    width: 0%;
    background: $paleta-color-2;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
  }
  &:hover::before {
    width: 100%;
  }
  .nav__link {
    text-decoration: none;
    @include CenterColor;
    color: $color-texto-1;
    font-size: 14px;
    font-weight: bold;
  }
}
.footer {
  background-color: $paleta-color-4;
  @include CenterColor;
  color: $color-texto-1;
  list-style-type: none;
  padding-top: 2rem;

  .footer__newsletter {
    font-size: 20px;
    font-weight: bold;
  }
  .input-email {
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 3px solid $paleta-color-2;
    color: $color-texto-1;
    outline: none;
  }
  .input-email::placeholder {
    color: $color-texto-1;
  }
  .btn-suscribe {
    font-size: 20px;
    padding: 0 10px;
    color: $paleta-color-4;
    border: 0;
    border-radius: 10px;
    background-color: $paleta-color-2;
  }
  .footer__social {
    @extend .footer__newsletter;
  }
  .social-item {
    list-style-type: none;
    .social-link {
      font-family: $tipografia-1;
      color: $color-texto-1;
      text-decoration: none;
      font-size: 20px;
      .fa-brands {
        font-size: 20px;
        margin: 5px;
        color: $paleta-color-2;
      }
    }
  }
  .footer__about {
    @extend .footer__newsletter;
  }
  .about-item {
    font-family: $tipografia-1;
    list-style-type: none;
    font-size: 20px;
  }
}
