.body__nosotros {
  background-color: $paleta-color-3;
}
.section__hero {
  text-align: center;
  background-color: $paleta-color-3;
  color: $color-texto-1;
  padding: 3rem;
  .description {
    font-size: 22px;
    font-weight: lighter;
  }
}
.section__1 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url(../imagenes/NOSOTROS-CASAVIEJA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $color-texto-2;
  padding: 8rem 0;
  text-align: right;
  margin: 2rem 0;
  .section-title {
    font-size: 38px;
    font-weight: bold;
  }
}
.section__2 {
  @extend .section__1;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url(../imagenes/NOSOTROS-PUEBLO.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
  .section-title {
    font-size: 38px;
    font-weight: bold;
  }
}
