.body__nosotros {
  background-color: $paleta-color-3;
}
.section__hero {
  background-color: $paleta-color-3;
  @include CenterColor;
  padding: 3rem;
  .description {
    font-size: 22px;
    font-weight: lighter;
  }
}
.section__1 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url(../imagenes/NOSOTROS-CASAVIEJA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $color-texto-2;
  padding: 8rem 0;
  text-align: center;
  font-weight: 900;
  margin: 2rem 0;
  .section-title {
    font-size: 38px;
    font-weight: bold;
    text-align: right;
  }
}
.section__2 {
  @extend .section__1;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url(../imagenes/NOSOTROS-ESQUINA.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .section-title {
    font-size: 38px;
    font-weight: bold;
    text-align: left;
  }
}
