.body__servicios {
  background-color: $paleta-color-3;
}
.section__cards {
  background-color: $paleta-color-4;
  padding: 2rem;
  text-align: center;
  .card {
    margin: auto;
    .card-body {
      color: $color-texto-1;
      .card-title {
        font-size: 30px;
      }
      .card-text {
        @include CenterColor;
      }
      .button {
        color: $color-texto-2;
        font-weight: 500;
        background-color: $paleta-color-3;
      }
    }
  }
}

.button {
  position: relative;
  overflow: hidden;
  &::before {
    content: "¡RESERVA TU FECHA!";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $paleta-color-4;
    color: $paleta-color-3;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    opacity: 0;
    transition: all 0.5s;
  }
  &:hover:before {
    transform: scale(1);
    opacity: 1;
  }
}
