/* paleta de color */
$paleta-color-1: #384001;
$paleta-color-2: #a0a603;
$paleta-color-3: #593202;
$paleta-color-4: #8c703b;

/* colores de texto */
$color-texto-1: #0e0d07;
$color-texto-2: #ffffff;

/* tipografías */
$tipografia-1: "Zilla Slab", serif;
